.App {
  font-family: sans-serif;
  text-align: center;
}

.content {
  background-color: aqua;
  width: 200px;
  text-align: center;
  height: 200px;
  margin: auto;
}

.btn {
  margin: 10px 21%;
  height: 20px;
  width: 200px;
  text-align: center;
  padding: 10px;
}

button {
  margin-right: 2px;
}

.box {
  border: 1px solid black;
  width: 300px;
  text-align: center;
  margin: auto;
}
